{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="main">
        <form action="/" method="post">
             {% csrf_token %}
            <div >
                <label for="" >first number</label>
                <input type="text" class="in1" name="in1">
            </div>
            <div >
                <label for="">+ - * /</label>
                <input type="text" class="in2" name ="in2">
            </div>
            <div >
                <label for="">second number</label>
                <input type="text" class="in3" name="in3">
            </div>
            <div>
                <button type="submit" class="but">click here</button>
            </div>
            <div class="para">
                <p>
                    {{value}}
                </p>
            </div>
        </form>
    </div>
</body>
</html>